@charset "UTF-8";
/* CSS Document */

.if {
	width: 800px;
	height: 515px;
	background-color: black;
	padding-top: 20px;
	
	
}


.if img {
	width: 400px;
	float: left;
	
	
}
p {
	color: white;

}


.first {
	padding-top: 275px;
	
	
	
}


.second {
	margin-left: 460px;

	
	
}

h1 {
	color: red;
	font-size: 30px;
}

.adobe {
	background-color: black;
	padding: 10px;
	width: 200px;
	height: auto;
	float: right;
	margin-top: -70px;

}

.logo{
	padding: 10px;
	
}

h2 {
	color: darkgray;
	padding-left: 100px;
	margin-top: -40px;
}

h3 {
	font-size: 15px;
	font-weight:100;
}

h5 {
	font-weight:100;
	margin-top: -20px;
	font-size: 15px;
	
	
}