@charset "UTF-8";
/* CSS Document */

.if {
	width: 800px;
	height: 560px;
	background-color: black;
	
	
	
}


.if img {
	width: 400px;
	float: left;
	
	
}
p {
	color: white;

}


.first {
	padding-top: 275px;
	
	
	
}


.second {
	margin-left: 430px;

	
	
}

h1 {
	background-color: white;
	color: red;
	font-size: 30px;
}

.adobe {
	background-color: black;
	padding: 10px;
	width: 200px;
	height: auto;
	float: right;
}

.logo{
	padding: 10px;
	
}

