@charset "UTF-8";
/* CSS Document */

.if {
	width: 800px;
	height: auto;
	background-color: black;
	float: left;	
	
	
}


.if img {
	width: 400px;
	float: left;
	margin-top: 50px;
	
}
p {
	color: white;

}


.first {
	margin-top: 275px;
	
	
	
}


.second {
	margin-left: 430px;
	
	
	
}

